*{
    font-family: "Calibri", "Trebuchet MS", sans-serif;
}

.input-section{
    width: 100%;
    max-width: 500px;
    padding: 25px 40px;
    margin: 50px auto;
    background: white;
    border-radius: 15px;
    box-sizing: border-box;
}

.input-section h2{
    text-align: center;
    color: #232f34;
}

body{
    background: #cccccc;
    padding: 5px 20px;
}

label[for="low"]{
    color: green;
}

label[for="medium"]{
    color: #f7ca36;
}

label[for="high"]{
    color: red;
}

#error-message{
    color: red;
}

button:hover{
    cursor: pointer;
}

ul li{
    user-select: none;
    padding: 8px;
}

.completed{
    color: gray;
    text-decoration: line-through;
}

#task-list button{
    margin-left: 5px;
}